.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 100%;
    position: relative;
  }
  
  .banner::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../../imagens/header/desktop/banner-informacoes.jpg");
    background-size: cover;
    background-position: bottom;
   
    
    opacity: 0.5;
  }

.banner__texto{    

    font-family: var(--font-banner);
    font-size: 2.5rem;
    line-height: 3.3rem;
    opacity: 0.8;
    
}