.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 100%;
    position: relative;
  }
  
  .banner::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../../imagens/header/desktop/banner.jpg  ");
    background-size: cover;
    background-position: center;
    
    opacity: 0.5;
  }


.banner__texto{
   
    font-family: var(--font-banner);
    font-size: 2.5rem;
    line-height: 3.3rem;
    opacity: 0.75;
}
.banner__texto__hashtag{
    margin-left: 30px;
}

/*Responsividade para Tablet*/

@media screen and (min-width: 480px) and (max-width: 768px){
    .banner{
        height: 60vh;
       

    }
    .banner__texto{
     
      font-size: 2rem;
    }
}

/*Responsividade para Smartphone*/

@media screen and (max-width: 480px){
    .banner{
        height: 50vh;
       

    }
    .banner__texto{
   
      font-size: 1.6rem;
    }
}
.banner__boreal::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../../imagens/header/desktop/banner-boreal.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  opacity: 1;
}
.banner__texto__boreal{
  color: white;
}